# Ignore everything
*

!.gitignore
!ramdisk/
!ramdisk/*
!ramdisk/*/*
!ramdisk/*/*/*
!ramdisk/*/*/*/*
!ramdisk/*/*/*/*/*
!ramdisk/*/*/*/*/*/*
!ramdisk/*/*/*/*/*/*/*
!split_img/
!split_img/*

split_img/*-ramdisk.cpio.gz
split_img/*-origsize